
*color{
    background: #F3F5FC;
}
.logo{
    width: Fixed (120px);
    height: Fixed (48px);
    top: 40px;
    left: 40px;
    gap: 40px;
}
#muñeco{
    width: 336px;
    height: 304px;
    top: 283px;
    left: 1032px;
    margin-left: 60%;
    display: inline-block;
    vertical-align: top;
}
    
    

