
*color{
    background: #F3F5FC;
}
.logo{
    width: Fixed (120px);
    height: Fixed (48px);
    top: 40px;
    left: 40px;
    gap: 40px;
}
.muneco{
    width: 366px;
    height: 304px;
    top: 283px;
    left: 1032px;   
}
.muneco{
    position: absolute;
    top: 70%;
    left: 68%;
   
}
.rectangulo{
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    color: #ffffff;
    box-shadow: #000000 8%;
    border: 2px solid #333;
    border-radius: 32px;
    margin-left: 67%;
}
